.heroimg{
    background-image: url();
    background-size: cover;
    background-position: center;
}


body{
    background-color: rgb(30, 38, 44);
    color: #ffffff;
}

.custom-bg-color {
    background-color: #4f6b88; 
    position: absolute;
    left: 0;
    width: 100%;
}

.card{
    transition: all .4s;
}

.card:hover{
    box-shadow: 5px 5px 5px #8e8e8e;
    transform: translate(-5px, -5px) rotate(-1deg);
}

